<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
  />
  <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <a class="header item"><i class="code icon"></i> Blog </a> 
    <a class="item" href="/"> Home </a>
    <a class="item" href="blogs/new"> New Post </a>
    <div class="right menu">
      <a class="ui item"> User </a>
    </div>
  </div>
